.home-container {
   margin-top: 1%; /* Adjust this margin according to your navbar's height */
   display: flex;
   flex-direction: column; /* Column direction to stack elements vertically */
   align-items: center; /* Center elements horizontally */
   padding: 15px; /* Adjust this value according to your design */
   width: 100%; /* Makes the container cover the entire width of the page */
   box-sizing: border-box; /* Includes padding and border in the total width */
 }
 
 h2 {
   margin-top: 0.5%;
   margin-bottom: 3%;
   font-size: 4rem;
   background: linear-gradient(to right, #8a66c9, #5640a1);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center; /* Center text */
 }
 
 .car {
   background: rgba(63, 63, 63, 0.5);
   box-shadow: 0 4px 8px rgb(28, 28, 28);
   border-radius: 20px;
   padding: 40px;
   width: 100%;
   max-width: 800px; /* Adjust for a specific maximum size */
   color: white;
   display: flex; /* Use flexbox to align the content */
   justify-content: space-between;
   align-items: center;
   text-align: left;
   transition: box-shadow 0.3s, transform 0.3s;
   margin-top: 20px; /* Space between elements */
 }
 
 .text-content {
   flex: 1; /* Takes up the remaining space */
 }
 
 .profile-image {
   width: 150px; /* Adjust the image size as needed */
   height: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin-left: 20px; /* Adds margin to separate the image from text */
 }
 
 .info {
   display: flex;
   flex-direction: column;
   align-items: flex-start; /* Aligns to the left */
   gap: 20px;
 }
 
 .info-card {
   background: rgba(63, 63, 63, 0.5);
   box-shadow: 0 4px 8px rgb(28, 28, 28);
   justify-content: flex-start;
   border-radius: 20px;
   padding: 20px;
   width: 33%;
   display: flex;
   flex-direction: column;
   align-items: flex-start; /* Aligns to the left */
   gap: 15px;
 }
 
 .info-item {
   padding: 10px 20px;
   background: rgba(123, 123, 123, 0.2);
   border-radius: 13px;
   box-shadow: 0 4px 8px rgb(28, 28, 28);
   transition: box-shadow 0.3s, transform 0.3s;
   font-size: 16px;
   color: white;
   display: flex;
   align-items: center;
 }
 
 .info-icon {
   width: 24px;
   height: 24px;
   color: rgb(138, 102, 201);
   margin-right: 8px;
   vertical-align: middle;
 }
 
 .info-item:hover {
   box-shadow: 0 6px 12px rgb(28, 28, 28);
   transform: scale(1);
 }
 
 .info-item:active {
   box-shadow: 0 2px 4px rgb(28, 28, 28);
   transform: scale(0.9);
 }
 
 .cv-button {
   color: white;
   background-color: rgba(63, 63, 63, 0.5);
   border: 1px solid rgb(138, 102, 201);
   text-align: center;
   padding: 15px 30px;
   border-radius: 13px;
   transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
   cursor: pointer;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: center; /* Center button text */
   margin-bottom: 30px; /* Space below the button */
 }
 
 .cv-button:hover,
 .cv-button:focus {
   background-color: rgb(120, 92, 168);
   transform: scale(1.08);
   box-shadow: 0 6px 12px rgb(28, 28, 28);
 }
 
 .cv-button:active {
   transform: scale(0.9);
   box-shadow: 0 2px 4px rgb(28, 28, 28);
 }
 