.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px;
  height: 30px;
  width: 75%;
  max-width: 1000px;
  background: rgba(63, 63, 63, 0.5);
  box-shadow: 0 4px 8px rgb(28, 28, 28);
}

.nav-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: auto;
}

.navbar button {
  color: white;
  background: none;
  border: none;
  text-align: center;
  padding: 6px 10px;
  border-radius: 13px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navbar button:hover,
.navbar button:focus {
  color: rgb(138, 102, 201);
  background-color: rgba(123, 123, 123, 0.2);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgb(28, 28, 28);
}

.navbar button:active {
  transform: scale(0.9);
  box-shadow: 0 2px 4px rgb(28, 28, 28);
}

.icon {
  width: 24px;
  height: 24px;
  color: white;
  margin-right: 8px;
  vertical-align: middle;
}

.navbar button:hover .icon, 
.navbar button:focus .icon,
.navbar button:active .icon {
  color: rgb(138, 102, 201);
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer; /* Añadido para el botón de modo oscuro */
}

.social-icons a:hover {
  color: rgb(138, 102, 201);
  transform: scale(1.1);
}


